EX1.2_3 XML/shiporder.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT shiporder (olderperson,shipto,item+)>
<!ELEMENT olderperson (#PCDATA)>
<!ELEMENT shipto (name,address,city,country)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT country (#PCDATA)>
<!ELEMENT item (title,note?,quantity,price)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT note (#PCDATA)>
<!ELEMENT quantity (#PCDATA)>
<!ELEMENT price (#PCDATA)>

<!ATTLIST shiporder orderid CDATA #REQUIRED>